<!DOCTYPE html>
<html>
  <head>
    <title>DirectShifts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <link rel="icon" href="https://uploads-ssl.webflow.com/5abebcf1b3e0cb4bb9718bba/5b8ab636012ec313fbc6268f_DS%20Logo%20Final.svg" type="image/x-icon">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
